:root {
    --heading-font: "Kaushan Script", serif;
    --paragraph-font: "delius", serif;
    --basic-text-colour: #40211F;
    --acent-colour: #40211F;
    --background-colour:#fbfd9b;
    --glow-colour: white;
  }

  .glow-text {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 20px #ffff,
                 0 0 30px #ffff,
                 0 0 40px #ffff,
                 0 0 50px #ffff;
  }  

  header {
    background-image: url(../images/riverHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    color: #cab061;
    text-align: center;
    padding: 200px 0;
  }
  
  header h1 {
    
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    margin: 0 auto;
    margin-top: 240px;
    margin-bottom: 40px;
  }
  
  header a {
    font-family: var(--heading-font);
    font-weight: 700;
    display: inline-block;
    margin-top: 32px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    background-color: white;
    text-decoration: none;
    text-transform: capitalize;
    color: #272044;
    padding: 16px 32px;
    border-radius: 40px;
  }

  body {
    background-color: var(--background-colour);
    margin: 0 auto;
  }

  h1, p {
    color: var(--basic-text-colour);
  }

h1 {
    text-align: center;
    margin: 40px auto;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: var(--heading-font);
    font-size: 50px;
    width: fit-content;
    
}

.glow {
-webkit-box-shadow:0px 0px 112px 18px var(--glow-colour);
-moz-box-shadow: 0px 0px 112px 18px var(--glow-colour);
box-shadow: 0px 0px 112px 18px var(--glow-colour); }

img {
    max-width: 500px;
    max-height: 600px;
    border-radius: 100px;
    padding: 30px 30px;
    margin: 30px;
    outline: solid 3px var(--acent-colour);
}

p {
    padding: 20px 30px;
    margin-top: 80px;
    text-align: center;
    font-family: var(--paragraph-font);
}

.main {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    gap: 1rem;
}

footer {
    padding: 20px 0;
    margin-top: 20px;
    background-color: var(--basic-text-colour);
    background-repeat: no-repeat;
    background-size: cover;
}

.byline {
  color: var(--background-colour);
  opacity: 0.5;
  text-align: right;
  margin-right: 20px;

}
.bylink {
  text-decoration: none;
  color: var(--background-colour);
}

:hover .bylink {
  text-decoration: underline;
}

.social-link-wrapper {
  text-align: center;
  font-size: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
  margin: 20px;
}

.social-link-wrapper a {
  color: var(--background-colour);
}

@media (min-width: 1000px) {

  header {
    max-width: 100%;
  }
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    text-align: center;
    max-width: 100%;
  }
  .element1 {
    text-align: center;
    max-width: 100%;

  }
  img {
    margin: 50px;
  }
}